.text-center {
    text-align: center;
}

.box {
    box-sizing: border-box;
    padding: 15px;
}

.relative {
    position: relative;
}

.align__center {
    align-items: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.text__center {
    text-align: center;
}

.container {
    width: 1510px;
    margin: auto;
    display: flex;
}