.header {
    background: #eeeff1;
    min-height: 100px;
    display: flex;
}

.header__row {
    display: flex;
    justify-content: center;
}

.header__container {
    max-width: 1100px;
    margin: auto;
    display: flex;
}

.header__logo {
    margin-right: 155px;
}

.nav__item {
    margin-left: 42px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}
.nav__item:hover {
    color: #34547a;
}
