.work {
    min-height: 1005px;
    background: #eeeff1;
}

.work__items {
    text-align: center;
}

.work__title {
    margin-top: 100px;
    margin-left: 100px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.work__description {
    margin-bottom: 50px;
    margin-left: 100px;
    width: 540px;
    height: auto;
    left: 25%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    
}

.work__img {
    position: absolute;
}

.work__play__img {
    position: relative;
    left: 50%;
    padding-top: 100px;
}
